.page-container {
  margin: auto;
  padding: 64px 16px 24px;
  max-width: 32rem;
}

header {
  display: flex;
  align-items: center;

  .header {
    flex-grow: 1;
    font-size: 24px;
  }

  #avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-grow: 0;
  }
}

.container {
  margin: auto;
  width: 100%;

  section {
    margin: 32px 0 56px;

    .header {
      font-size: 20px;
      margin-bottom: 16px;
    }

    .description {
      text-align: center;
      font-style: italic;
    }
  }

  .full-width-container {
    margin-top: 48px;
    margin-bottom: 36px;
  }

  @media screen and (max-width: 415px) {
    .full-width-container {
      width: 100%;
      overflow: scroll;

      .editor-container {
        width: 100%;
      }
    }
  }

  @media screen and (min-width: 415px) {
    .full-width-container {
      width: 100vw;
      margin-left: calc(-50vw + 50%);

      .editor-container {
        width: 60%;
      }
    }
  }

  .editor-container {
    padding: 24px;
    height: 400px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

table.api-table {
  width: 60%;
  margin: auto;
}

footer {
  text-align: center;
  font-size: 12px;
  color: #7b8b9b;
}

p.text {
  margin-left: 12px;
}
