<div class="page-container">
  <header>
    <h1 class="header">
      Monaco for Angular
    </h1>
  </header>
  <div class="content-container">
    <section id="demo">
      <h2 class="header">Demo</h2>
      <h3>Normal Editor</h3>
      <p>
        Render a monaco editor.
      </p>
      <div class="full-width-container">
        <div class="editor-container">
          <si-monaco-editor id="editor" [ngModel]="code" [editorOption]="editorOption"></si-monaco-editor>
        </div>
      </div>
      <p class="center"><i>Try to type on it.</i></p>
      <h3>Diff Editor</h3>
      <p class="text">
        Render a diff editor.
      </p>
      <div class="full-width-container">
        <div class="editor-container">
          <si-monaco-editor id="editor" [ngModel]="code" [mode]="'diff'" [originalText]="originalText"
                            [editorOption]="{ language: 'typescript' }" (ngModelChange)="onModelChange($event)">
          </si-monaco-editor>
        </div>
      </div>
    </section>
    <section id="description">
      <h2 class="header">Description</h2>
      <p class="text">
        This is a component that can help you to load monaco editor and create editor instances in Angular. Features
        include:

      </p>
      <ol>
        <li>Load resources of monaco editor from static file server or CDN.</li>
        <li>Render a monaco editor in a declarative way.</li>
        <li>Support both IEditor and IDiffEditor.</li>
        <li>Provide hooks like <code>onInit</code> for you config themes, languages etc..</li>
        <li>Support default editor options.</li>
        <li>Fully controlled mode.</li>
        <li>Update editor option of all editor instances from a service.</li>
      </ol>
    </section>
    <section id="links">
      <h2 class="header">Links</h2>
      <ol>
        <li><a href="https://github.com/silicic-acid/monaco-ng">Repo on GitHub</a>, with docs.</li>
      </ol>
    </section>
    <section id="license">
      <h2 class="header">License</h2>
      <p class="text">
        MIT
      </p>
    </section>
  </div>
  <footer class="footer">MIT, 2019 © Wendell Hu with ❤️</footer>
</div>
